:root {
  --cyan: #66e2dc;
  --orange-red: #fa7453;
  --orange: #ffb964;
  --white: #fcfaf9;
  --black: #191826;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--black);
  background: url(../assets/bg-main-mobile.png) no-repeat left -30px top -200px;
}

img {
  max-width: 100%;
}

button {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.18px;
  color: var(--white);
  min-width: 100%;
  padding: 15px;
  border-radius: 12px;
  border: none;
  margin-bottom: 1rem;
}

/* MAIN TEXT SECTION */

.main__logo {
  margin-bottom: 64.01px;
  margin-left: 24.15px;
  margin-top: 39.99px;
}

.main__text {
  padding: 1.5rem;
  padding-bottom: 0;
  margin-bottom: 166px;
}

.main__h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.454545px;
  margin-top: 0;
  margin-bottom: 20px;
}

.main__p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
}

/* ILLUSTRATION TOP SECTION */

.illustration__top {
  background: var(--black);
  border-radius: 12px;
  position: relative;
  text-align: center;
}

.illustration__img {
  max-height: 420px;
}

.illustration__app {
  position: absolute;
  top: -98px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 208.97px;
}

/* PREMIUM BOTTOM SECTION */

.premium__bottom {
  background: var(--orange-red);
  padding-left: 36px;
  padding-right: 37px;
  padding-top: 48px;
  padding-bottom: 48px;
  border-radius: 12px;
  margin-top: -36px;
  position: relative;
  z-index: 2;
  color: var(--white);
  margin-bottom: 61px;
}

.premium__h2 {
  margin-top: 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 12px;
}

.premium__p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 36px;
  margin-top: 0;
}

.premium__cost {
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.premium__dollar {
  font-weight: 700;
  font-size: 65px;
  line-height: 52px;
}

.premium__btn__ios {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--black);
}

.premium__btn__ios__img,
.premium__btn__and__img {
  margin-right: 7.92px;
}

.premium__btn__and {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
  color: var(--black);
}

/* FOOTER SECTION */

.footer {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 80px;
}

.footer__logo {
  margin-bottom: 32.01px;
}

.footer__p {
  margin-top: 0;
  margin-bottom: 64px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  padding-right: 30px;
}

.footer__email {
  font-weight: 700;
}

.footer__social__a {
  margin-right: 20px;
}

/*
///////////////// 
//MEDIA QUERIES// 
/////////////////
*/

/* TABLET VIEW */
@media (min-width: 768px) {
  body {
    background: url(../assets/bg-main-tablet.png) no-repeat right -100px top -270px;
    position: relative;
  }

  .tablet__right__img {
    position: absolute;
    background: url(../assets/bg-pattern-1.svg) no-repeat center;
    background-size: cover;
    z-index: 10;
    top: -32px;
    right: 0;
    min-width: 266.67px;
    min-height: 400px;
  }

  /* MAIN TEXT SECTION */

  .main__logo {
    margin-top: 61.99px;
  }

  .main__text {
    max-width: 500px;
    margin-bottom: 249px;
  }

  .main__h1 {
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -0.727273px;
  }

  /* ILLUSTRATION SECTION */

  .illustration__top {
    margin-left: 33px;
    margin-right: 39px;
    min-width: 696px;
    min-height: 600px;
    margin-bottom: 183px;
  }

  .illustration__img {
    max-height: 420px;
    position: absolute;
    top: -31px;
    left: 229px;
  }

  .illustration__app {
    top: -138px;
    left: 197px;
    max-width: 270.21px;
  }

  /* PREMIUM BOTTOM SECTION */

  .premium__bottom {
    max-width: 399px;
    max-height: 546px;
    padding-left: 48px;
    padding-right: 49px;
    position: absolute;
    top: 938px;
    left: 272px;
    z-index: 2;
    color: var(--white);
    margin-bottom: 61px;
  }

  .premium__cost {
    margin-left: 6px;
  }

  .premium__btn__ios {
    margin-bottom: 16px;
  }

  button {
    margin-left: 6px;
    margin-bottom: 0;
  }

  /* FOOTER SECTION */

  .footer {
    padding-left: 33px;
    padding-right: 39px;
    padding-bottom: 85px;
  }

  .footer__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer__logo {
    margin-left: 1.15px;
  }

  .footer__p {
    max-width: 366px;
    padding-right: 0;
    margin: 0;
  }
}

/* DESKTOP VIEW */
@media (min-width: 1440px) {
  body {
    max-width: 1440px;
    margin: 0 auto;
    background: url(../assets/bg-main-desktop.png) no-repeat right -100px top -200px;
  }

  .tablet__right__img {
    min-width: 312px;
    min-height: 468px;
    top: -39px;
  }

  /* MAIN TEXT SECTION */

  .main__logo {
    margin-bottom: 121.01px;
    margin-left: 166.15px;
    margin-top: 61.99px;
  }

  .main__text {
    max-width: 1015px;
    padding: 0;
    margin-left: 165px;
    margin-bottom: 323px;
  }

  .main__h1 {
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -1px;
    margin-bottom: 38px;
  }

  .main__p {
    font-size: 20px;
    line-height: 34px;
    max-width: 825px;
  }

  /* ILLUSTRATION SECTION */

  .illustration__top {
    margin-left: 165px;
    margin-right: 165px;
    min-width: 1110px;
    min-height: 600px;
    margin-bottom: 202px;
  }

  .illustration__img {
    max-height: 468px;
    top: -43px;
    left: 335px;
  }

  .illustration__app {
    top: -215px;
    left: 258px;
    max-width: 312px;
    max-height: 642px;
  }

  /* PREMIUM BOTTOM SECTION */

  .premium__bottom {
    max-width: 446px;
    max-height: 625px;
    padding-left: 54px;
    padding-right: 59px;
    top: 990px;
    left: 734px;
    z-index: 2;
    color: var(--white);
    margin-bottom: 61px;
  }

  .premium__h2 {
    font-size: 40px;
    line-height: 52px;
    margin-top: 5px;
    margin-bottom: 22px;
  }

  .premium__p {
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 39px;
  }

  .premium__cost {
    margin-bottom: 48px;
    margin-left: 0;
    display: flex;
    align-items: center;
  }

  .premium__dollar {
    margin-right: 16px;
  }

  .premium__btn__ios,
  .premium__btn__and {
    transition: background 300ms ease;
  }

  .premium__btn__ios:hover,
  .premium__btn__iso:focus {
    background: var(--cyan);
    cursor: pointer;
  }

  .premium__btn__and:hover,
  .premium__btn__and:focus {
    background: var(--orange);
    cursor: pointer;
  }

  button {
    margin-left: 0;
  }

  /* FOOTER SECTION */

  .footer {
    display: flex;
    justify-content: space-between;
    padding-left: 165px;
    padding-right: 165px;
    padding-bottom: 91px;
  }

  .footer__logo {
    max-width: 127px;
    max-height: 33px;
  }

  .footer__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer__p {
    margin-right: 327px;
  }

  .footer__social {
    margin-bottom: 2px;
  }
  .footer__social__a:last-child {
    margin-right: 0;
  }

  .footer__social img:hover,
  .footer__social img:focus {
    filter: invert(52%) sepia(76%) saturate(628%) hue-rotate(323deg)
      brightness(100%) contrast(97%);
  }
}
